<a href="https://colab.research.google.com/github/rekuantsun/Exercise/blob/main/bt_7_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
x=0
while x<10:
  print(x)
  x+=1

0
1
2
3
4
5
6
7
8
9

In [ ]:
#2
for i in range(5,0,-1):
  for j in range(i,0,-1):
    if j ==1:
      print(j)
    else:
      print(j,end=' ')

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
#3
x = int(input('Enter your number: '))
sum = 0
for i in range (x):
  sum+=i
print(sum)

Enter number: 10
45

In [ ]:
#4
x = int(input('Enter your number: '))
for i in range (1,11):
  print(x,'*',i,'=',x*i)

Enter your number: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
#5
x = [2,9,1,1,0,2]
for i in x:
  print(i)

2
9
1
1
0
2

In [ ]:
#6
x = 456
print(len(str(x)))

3

In [ ]:
#7
x = [1,2,0,3]
x.reverse()
for i in x:
  print(i)

3
0
2
1

In [ ]:
#8
for i in range(-10,0):
  print (i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
#9
x =10
for i in range(x):
  print (i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#10
x= int(input('so bat dau: '))
y= int(input('so ket thuc: '))
z=[]
for i in range (x,y+1):
  if i > 2: 
    for j in range(2,i):
      if i%j==0:
        break
    else:
      z.append(i)
print('so nguyen to: ',z)

so bat dau: 0
so ket thuc: 20
so nguyen to:  [3, 5, 7, 11, 13, 17, 19]

In [ ]:
#11
nterms = int(input('term: '))
n1,n2=0,1
count=0
if nterms <= 0:
  print('plese enter a positive integer')
elif nterms == 1:
  print('fibonacci sequence upto',nterms,':')
  print(n1)
else:
  print('fibonacci sequence:')
  while count < nterms:
    print(n1)
    nth = n1+n2
    n1=n2
    n2=nth
    count += 1

term: 10
fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [ ]:
#12
n12 = int(input('mời bạn nhập vào 1 số nguyên: '))
if n12 < 0:
  print(0)
elif n12 == 0 or n12 == 1:
  print(1)
else:
  fact = 1
  while (n12>1):
    fact*=n12
    n12-=1
  print(fact)

mời bạn nhập vào 1 số nguyên: 10
3628800

In [ ]:
#13
n13 = int(input('enter your number: '))
rev = 0
while(n13>0):
  a = n13%10
  rev = rev*10+a
  n13 = n13//10
print(rev)

enter your number: 132
231

In [ ]:
#14
arr=[0,1,2,3,4,5]
for i in arr:
  if i % 2 == 1:
    print(arr[i])

1
3
5

In [ ]:
#15
cubeInput = int(input('enter your number: '))
sumCube = 0 
for i in range(1,cubeInput+1):
  sumCube += i*i*i
print(sumCube)

enter your number: 5
225